{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Polarity Digital",
    "description": "cryptocurrency data analysis website backend",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host1": "localhost:3001",
  "host": "api.polaritydigital.io",
  "basePath": "/",
  "tags": [
    {
      "name": "Polarity Digital Api's"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/coin/historicalData": {
      "get": {
        "tags": [
          "Coin Api's"
        ],
        "description": "Get Coin",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "description": "possible coin value is one of them (btc,ada,algo,atom,avax,bnb,dot,egld,enj,eth,ftm,hbar,hnt,ksm,link,ltc,matic,near,one,qnt,sand,sol,theta,vet,xrp,xtz,zil)"
          },
          {
            "name": "metric",
            "in": "query",
            "description": "example: closeprice,udpim,udpil..........."
          },
          {
            "name": "limit",
            "in": "query"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "please enter date like this format(2010-10-01)"
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "please enter date like this format(2010-11-10)"
          }
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/getAllCoins": {
      "get": {
        "tags": [
          "Coin Api's"
        ],
        "description": "Get all coins data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/coins/saveMarkets": {
      "get": {
        "tags": [
          "Coin Api's"
        ],
        "description": "Save Market  data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/coins/markets": {
      "get": {
        "tags": [
          "Coin Api's"
        ],
        "description": "Get Market  data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query"
          },
          {
            "name": "limit",
            "in": "query"
          },
          {
            "name": "risk_exist",
            "in": "query"
          },
          {
            "name":"category",
            "in":"query"
          }
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/charts/add": {
      "post": {
        "tags": [
          "Chart Api's"
        ],
        "description": "Save chart data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "chart",
            "in": "body",
            "description": "Save chart data",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number",
                  "example": 1
                },
                "name": {
                  "type": "string",
                  "example": "chartname"
                },
                "configuration": {
                  "type": "object",
                  "example": {
                    "seriesName": "BTC Price",
                    "color": "green",
                    "yAxis": 1,
                    "data": []
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/charts/get": {
      "get": {
        "tags": [
          "Chart Api's"
        ],
        "description": "Get chart data",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/chart/{id}": {
      "get": {
        "tags": [
          "Chart Api's"
        ],
        "description": "Get chart data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name":"id",
            "in":"path"
          }],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/charts/update/{id}": {
      "put": {
        "tags": [
          "Chart Api's"
        ],
        "description": "Update chart data",
        "produces": [
          "application/json"
        ],
       
        "parameters": [
          {
            "name":"id",
            "in":"path"
          },
          {
            "name": "chart",
            "in": "body",
            "description": "Update chart data",
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "number",
                  "example": 1
                },
                "name":{
                  "type": "string",
                  "example": "chartname"
                },
                "configuration": {
                  "type": "object",
                  "example": {
                    "seriesName": "BTC UDPI",
                    "color": "blue",
                    "yAxis": 1,
                    "data": []
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    },
    "/api/charts/delete/{id}": {
      "delete": {
        "tags": [
          "Chart Api's"
        ],
        "description": "Delete chart data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name":"id",
            "in":"path"
          }
        ],
        "responses": {
          "200": {
            "description": "Data loaded successfully"
          }
        }
      }
    }
  }
}